<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <br />
      <h3>Task List</h3>
      <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col" class="numCol">#</th>
            <th scope="col" class="titleCol">Title</th>
            <th scope="col" class="otherCol">Creation Date</th>
            <th scope="col" class="otherCol">Completed?</th>
          </tr>
        </thead>
        <tbody
          *ngFor="let task of tasks"
          (click)="onSelect(task)"
          [task]="task"
        >
          <tr>
            <td>{{ task.id }}</td>
            <td>{{ task.title }}</td>
            <td>{{ task.createdOn }}</td>
            <td>{{ task.completed }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
